
    <div class="card info" style="max-width: 1040px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="assets/img/yo.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Sobre mi</h5>
            <p class="card-text">Ingeniero superior informático con amplia experiencia en programación con Java y JavaEE en múltiples frameworks, IDEs y sectores distintos.
              Mi objetivo a nivel profesional es seguir trabajando en el ámbito de la programación, haciendo uso de nuevas tecnologías que me aporten un crecimiento tanto personal como profesional. </p>
          </div>
        </div>
      </div>
    </div>



















