<h1 animate__animated animate__fadeIn fast>{{detalle.empresa | uppercase}}</h1>



<div class="row animate__animated animate__fadeIn">
    <div class="col-md-4">
        <img [src]="detalle.img" class="img-fluid" alt="">
        <br><br>
        <a [routerLink] = "['/experiencia']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div class="col-md-8">
        <h3>{{detalle.empresa}}</h3>
        <hr>
        <p>
            {{detalle.breveDescripcion}}
        </p>


    </div>
</div>
