/* You can add global styles to this file, and also import other style files */


.main-container{
    margin-top: 20px;
}

footer{
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
    text-align: center;
    left: 0;
    
}
